/*================================================================================
	Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
	Version: 2.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

.page-preloader {
	display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 100000;
    opacity: 0.9;
    text-align: center;
}

#loading-wrapper {
    top: 42%;
    position: relative;
    -webkit-transform-style: preserve-3d;
    width: 176px;
    height: 176px;
    margin: 0 auto;
    transition: transform 1s;
    transition: -webkit-transform 1s;
    -webkit-animation: rotateld 2s linear infinite;
}

#loading-wrapper .front {
    -webkit-backface-visibility: initial;
    box-shadow: 0 0 1px rgba(255,255,255,0);
    -webkit-transform-style: preserve-3d;
    position: absolute;
    top: 0px;
    transform: translatez(1px);
    width: 176px;
    height: 176px;
    z-index: 9999;
}

#loading-wrapper .center {
    -webkit-backface-visibility: initial;
    box-shadow: 0 0 1px rgba(255,255,255,0);
    -webkit-transform-style: preserve-3d;
    position: absolute;
    top: 0px;
    transform: translatez(2px);
    width: 176px;
    height: 176px;
    z-index: 9999;
}

#loading-wrapper .center2 {
    -webkit-backface-visibility: initial;
    box-shadow: 0 0 1px rgba(255,255,255,0);
    -webkit-transform-style: preserve-3d;
    position: absolute;
    top: 0px;
    transform: translatez(3px);
    width: 176px;
    height: 176px;
    z-index: 9999;
}

#loading-wrapper .center3 {
    -webkit-backface-visibility: initial;
    box-shadow: 0 0 1px rgba(255,255,255,0);
    -webkit-transform-style: preserve-3d;
    position: absolute;
    top: 0px;
    transform: translatez(4px);
    width: 176px;
    height: 176px;
    z-index: 9999;
}

#loading-wrapper .back {
    -webkit-backface-visibility: initial;
    box-shadow: 0 0 1px rgba(255,255,255,0);
    -webkit-transform-style: preserve-3d;
    position: absolute;
    transform: rotateY( 180deg );
    top: 0px;
    width: 176px;
    height: 176px;
    z-index: 9999;
}

@-webkit-keyframes rotateld {
    from {-webkit-transform-style: preserve-3d;-webkit-transform: rotateY(0deg);}
    to{-webkit-transform-style: preserve-3d;-webkit-transform: rotateY(180deg);}
}

.hide-long-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box!important;
  -webkit-line-clamp: 2; /* number of lines to show */
           line-clamp: 2; 
  -webkit-box-orient: vertical;
}

.form-control[readonly] {
    opacity: 1!important; 
}

.input-group-merge {
    flex-wrap: unset;
}

.pointer-events-none {
    pointer-events: none;
}

.inset-0 {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.right-0 { right: 0; }

.z-1 { z-index: 1; }

.z-9 { z-index: 9; }

.cursor-pointer { cursor: pointer; }


//custom reactsummernote
.note-modal .modal-title {
    position: absolute;
    top: 4px;
}

.note-modal .note-group-select-from-files {
    display: none;
}
